


<p>
    <strong>@ViewBag.Address[0].full_name</strong><span style="margin-left:40px;margin-right:50px;">&nbsp</span>
    <strong>Địa chỉ:</strong> @ViewBag.Address[0].address <span style="margin-left:40px;margin-right:50px;">&nbsp</span>
    <strong>Điện thoại:</strong> @ViewBag.Address[0].phone
</p>



