
@{
    ViewBag.Title = "Reveneu";
    Layout = "~/Areas/Seller/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/Seller/css/DatePicker.css" rel="stylesheet" />
<script src="~/Assets/Seller/js/DatePicker.js"></script>
 <div>  
            @using (Html.BeginForm("ExportToExcel", "Reveneu", FormMethod.Post, new { enctype = "multipart/form-data" }))  
            {  
  
                <div class="col-md-12 col-sm-12  " >  
                    <input type="submit" value="Export" class="btn-primary" />  
                </div>  
  
            }  
</div>  
<div class="row">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <select class="fa-pull-right" name="selector" id="selector">
                    <option value="1">Theo ngày</option>
                    <option value="2">Theo tháng</option>
                </select>
                <div id="datepicker" class="input-group date fa-pull-right">
                    <input class="form-control" type="text" readonly />
                    <span class="input-group-addon"><i></i></span>
                </div>

                <div class="clearfix"></div>
            </div>
            @Html.Partial("ReveneuChart");
        </div>
    </div>
</div>
