
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Seller/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-title">
        "
            Danh sách cần làm
            "
        <p class="card-tips"> Những việc bạn sẽ phải làm</p>
    </div>
    <div>
        <div class="status-indicator">
            <div class="to-do-box">
                <a href="#" class="item">
                    <p class="item-title">0</p>
                    <p class="item-desc">Chờ Xác Nhận</p>
                </a>
                <a href="#" class="item">
                    <p class="item-title">0</p>
                    <p class="item-desc">Chờ Lấy Hàng</p>
                </a>
                <a href="#" class="item">
                    <p class="item-title">0</p>
                    <p class="item-desc">Đã Xử Lý</p>
                </a>
                <a href="#" class="item">
                    <p class="item-title">0</p>
                    <p class="item-desc">Đơn Hủy</p>
                </a>
                <a href="#" class="item">
                    <p class="item-title">0</p>
                    <p class="item-desc">Sản Phẩm Hết Hàng</p>
                </a>
                <a href="#" class="item">
                    <p class="item-title">0</p>
                    <p class="item-desc">Chương Trình Khuyến Mãi Chờ Xử Lý</p>
                </a>
            </div> 
        </div>
    </div>
</div>

