
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@model Fashison_eCommerce.ViewModel.Cart_ItemViewModel

<div class="row">
    <!-- Sidebar ================================================== -->
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <a id="myCart" href="/UserCart">
                <img src="~/Styles_css/User_styles/themes/images/ico-cart.png" alt="cart">
                <div class="cart_info">
                    @{Html.RenderAction("CartInfo", "usercart");}
                </div>

            </a>
        </div>
        <div class="typeloader">
            <ul id="sideManu" class="nav nav-tabs nav-stacked ">
                @*@{ Html.RenderAction("ProductType", "ProductDetail");}*@
                <li class="subMenu open">
                    <a><img src="~/Assets/Buyer/text_loading.gif" /> </a>
                    <ul>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                    </ul>

                    <ul>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                    </ul>
                </li>
                <li class="subMenu open">
                    <a><img src="~/Assets/Buyer/text_loading.gif" /> </a>
                    <ul>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                    </ul>

                    <ul>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                    </ul>
                </li>
                <li class="subMenu open">
                    <a><img src="~/Assets/Buyer/text_loading.gif" /> </a>
                    <ul>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                    </ul>

                    <ul>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                        <li><img src="~/Assets/Buyer/text_loading.gif" /></li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </div>
    <!-- Sidebar end=============================================== -->
    <div class="span9">
        @*<div class="well well-small">
            <h4>Featured Products <small class="pull-right">200+ featured products</small></h4>
            <div class="row-fluid">
                <div id="featured" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <i class="tag"></i>
                                        <a href="product_details.html"><img src="~/Styles_css/User_styles/themes/images/products/b1.jpg" alt=""></a>
                                        <div class="caption">
                                            <h5>Product name</h5>
                                            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <i class="tag"></i>
                                        <a href="product_details.html"><img src="~/Styles_css/User_styles/themes/images/products/b2.jpg" alt=""></a>
                                        <div class="caption">
                                            <h5>Product name</h5>
                                            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <i class="tag"></i>
                                        <a href="product_details.html"><img src="~/Styles_css/User_styles/themes/images/products/b3.jpg" alt=""></a>
                                        <div class="caption">
                                            <h5>Product name</h5>
                                            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <i class="tag"></i>
                                        <a href="product_details.html"><img src="~/Styles_css/User_styles/themes/images/products/b4.jpg" alt=""></a>
                                        <div class="caption">
                                            <h5>Product name</h5>
                                            <h4><a class="btn" href="product_details.html">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul class="thumbnails">
                               
                            </ul>
                        </div>

                    </div>
                    <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#featured" data-slide="next">›</a>
                </div>
            </div>
        </div>*@
        <h4>Latest Products </h4>
        <div class="loader" data-action="/Buyer/MainPage/LoadProducts">
            <ul class="thumbnails">
                @{
                    for (int i = 0; i < 9; i++)
                    {
                        <li class="span3">
                            <div class="thumbnail">
                                <a> <img src="~/Assets/Buyer/loading.gif" alt="Loading" /></a>
                                <div class="caption">
                                    <img src="~/Assets/Buyer/text_loading.gif" />
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<script language="javascript">
    $.ajax({
        // load cac san pham
        url: "/Buyer/MainPage/LoadProducts",
        success: function (result) {
            $(".loader").html(result);

            // gan event cho cac button add to cart
            var user = {
                init: function () {
                    console.log("init");
                    user.registerEvents();
                },
                registerEvents: function () {
                    $('.AddToCart').off('click').on('click', function (e) {
                        var userID = @Convert.ToInt32(Session["userID"]);
                        if (userID !== 0) {
                            e.preventDefault();
                            var id = $(this).data('product_id');
                            // them san pham vao gio hang
                            $.ajax({
                                url: "/Buyer/Cart_Item/AddToCart",
                                type: 'POST',
                                data: { ProductID: id },
                                success: function (msg) {
                                    // load lai so san pham co trong gio hang
                                    $.ajax({
                                        url: "/Buyer/UserCart/CartInfo",
                                        success: function (result) {
                                            $(".cart_info").html(result);
                                            alert('Thêm vào giỏ hàng thành công');
                                        }
                                    });
                                }
                            });
                        }
                        else {
                            window.location.href = "/Account/Login";
                        }
                        
                    });
                }
            }
            user.init();
        }
    });

    $.ajax({
        // load cac san pham
        url: "/Buyer/ProductDetail/ProductType",
        success: function (result) {
            $(".typeloader").html(result);
        }
    });
   
</script>

