
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>My profile</h1>
<div class="span9">
    <form action="" method="post">
        <label>Username</label>
        <input name="username" value="@ViewBag.Username" disabled>

        <label>Name</label>
        <input name="name" value="@ViewBag.Name">

        <label>Email</label>
        <input name="email" value="@ViewBag.Email" disabled>

        <label>Phone</label>
        <input name="phone" value="@ViewBag.Phone">

        <label>Gender</label>
        <span>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
        </span>

        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday">

        <button type="submit">Save</button>

    </form>
</div>

