
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active"> SHOPPING CART</li>
    </ul>
    <h3>  SHOPPING CART [ <small>@{Html.RenderAction("CountCartItem", "UserCart");} Item(s) </small>]<a href="products.html" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
    <hr class="soft" />

    <div class="user_cart">
        @{Html.RenderAction("LoadCart", "UserCart");}
    </div>        
    
    <a href="products.html" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
    <a href="/Buyer/CartCheckout" class="btn btn-large pull-right">Checkout <i class="icon-arrow-right"></i></a>

</div>


