@{
    Layout = null;
}
@foreach (var item in ViewBag.order)
{
    <div>
        <div class="card border-dark mb-3" style="margin: 30px;">
            <div class="card-header d-flex justify-content-between">
                <div>@item.Order_ID</div>
                <div>@item.ShopName</div>
                <div>@item.status</div>
            </div>
            <div class="card-body text-dark">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <div>Total: </div>
                <div style="color: red; font-size: large; margin-left: 20px;">@item.Total_Order</div>
            </div>
        </div>
    </div>
}