@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN"); }
<div class="tab-content">
    <ul class="thumbnails">
        @foreach (var prod in ViewBag.prodOfStore)
        {
            <li class="span3">
                <div class="thumbnail">
                    <a href="/Buyer/ProductDetail/Details?id=@prod.Product_ID"><img style="height: 215px; width: 215px" src="~/Product_Images/@prod.Pictures" alt="" /></a>
                    <div class="caption">
                        <h5>@prod.Name</h5>
                        <h4 style="text-align:center">
                            <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a>
                            <a class="btn AddToCart" href="#" data-product_id="@prod.Product_ID">Add to <i class="icon-shopping-cart"></i></a>
                            <a class="btn btn-primary" href="#">@String.Format(info, "{0:C0}", prod.Price)</a>
                        </h4>
                    </div>
                </div>
            </li>
        }
    </ul>
    <hr class="soft" />
</div>
