
@{
    ViewBag.Title = "ProductType";
}

@foreach (var type in ViewBag.listType)
    {
        <li class="subMenu open">
            <a> @type.Name</a>

            <ul>
                
                @foreach (var sub in ViewBag.subType)
                {
                    if (sub.MaintypeID == type.ID)
                    {
                        <li><a href="/Buyer/ProductDetail/GetByType?typeid=@sub.TypeID"><i class="icon-chevron-right"></i>@sub.Name</a></li>
                        
                    }
                }
            </ul>
        </li>
                }

