
@{
    ViewBag.Title = "ProductType";
}

@foreach (var type in ViewBag.listType)
    {
        <li class="subMenu open">
            <a> @type.Name</a>

        <ul>
            @{ Html.RenderAction("SubType", "ProductDetail");}
            @*@foreach (var sub in ViewBag.subType)
            {
                <li><a href="products.html"><i class="icon-chevron-right"></i> @sub.Name </a></li>
            }*@
            <li><a class="active" href="products.html"><i class="icon-chevron-right"></i>Cameras (100) </a></li>
            <li><a href="products.html"><i class="icon-chevron-right"></i>Computers, Tablets & laptop (30)</a></li>
            <li><a href="products.html"><i class="icon-chevron-right"></i>Mobile Phone (80)</a></li>
            <li><a href="products.html"><i class="icon-chevron-right"></i>Sound & Vision (15)</a></li>
        </ul>
        </li>
                }

