 <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Seller/Acount/Dashboard">
            <div class="sidebar-brand-icon">
                <img src="~/Assets/Seller/img/3986701-online-shop-store-store-icon_112278.png" style="width:50px;height:50px"/>
            </div>
            <div class="sidebar-brand-text mx-3">Kênh người bán</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/Seller/Acount/Dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản Lý
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts"
                aria-expanded="true" aria-controls="collapseProducts">
                <i class="fas fa-fw fa-cog"></i>
                <span>Quản Lý Sản Phẩm</span>
            </a>
            <div id="collapseProducts" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Quản Lý Sản Phẩm:</h6>
                    <a class="collapse-item" href="/Seller/Products">Tất Cả Sản Phẩm</a>
                    <a class="collapse-item" href="/Seller/Products/Create">Thêm Sản Phẩm</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShop"
                aria-expanded="true" aria-controls="collapseShop">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Quản Lý Shop</span>
            </a>
            <div id="collapseShop" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Quản lý Shop:</h6>
                    <a class="collapse-item" href="utilities-color.html">Đánh Giá Shop</a>
                    <a class="collapse-item" href="/Seller/Stores">Hồ Sơ Shop</a>
               
                </div>
            </div>
        </li>

    <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsetest"
                aria-expanded="true" aria-controls="collapsetest">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Quản Lý Đơn hàng</span>
            </a>
            <div id="collapsetest" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Quản lý đơn hàng:</h6>
                    <a class="collapse-item" href="/Seller/Orders">Tất cả đơn hàng</a>
                    <a class="collapse-item" href="utilities-border.html">Đơn hàng cần xác nhận</a>
                    <a class="collapse-item" href="utilities-animation.html">Đơn hàng hủy</a>
                </div>
            </div>
        </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Thống kê
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
       

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/Seller/Reveneu">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Thống kê doanh thu</span>
                </a>
            </li>

       

            <!-- Divider -->
            <!--<hr class="sidebar-divider d-none d-md-block">-->

            <!-- Sidebar Toggler (Sidebar) -->
            <!--<div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>-->

            <!-- Sidebar Message -->
            <!--<div class="sidebar-card">
                <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
            </div>-->

    </ul>
<!-- End of Sidebar -->
