
/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #AA3E27;
}

/* Create an active/current tablink class */
.tab button.active {
  font-weight: bold;
  color: #AA3E27;
  border-bottom: solid 1px #AA3E27;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* style div content */
.order-list{
  position: relative;
  margin: 0 auto;
  width: 1104px;
}

/*Search */
.btnSearch{
  float: left;
  padding: 6px;
  border: solid 1px grey;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* Google Material icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";

/* Propeller css */
@import "dist/css/propeller.min.css";
