
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <script>
        function password_match() {
            var pass = document.getElementById("pass").value.toString();
            var confirm_pass = document.getElementById("confirm-pass").value.toString();
            if (pass === confirm_pass) {
                document.getElementById("change_password").submit();
            }
            else {
                alert("Password not match");
            }
        }
    </script>
</head>
<body>
    <div>
        <form id="change_password" action="/Account/ChangePassword" method="post">
            <div>Reset password</div>
            <input type="password" id ="pass" name="password" placeholder="Enter your new password" required=""/>
            <input type="password" id="confirm-pass" name="passwordconfirm" placeholder="Confirm your password" required="" />
        </form>
        <button onclick="password_match()">Change password </button>
    </div>
</body>
</html>
