
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div> 
        <form action="/Account/VerifyByEmail" method="post">
            <div>
                <button onclick="location.href='/Account/Login'" type="button">
                    Go back
                </button>
                <div>Account recovery</div>
            </div>
            <div>
                <input type="email" name="email" placeholder="Email" autocomplete="off" />
                <button type="submit">Next</button>
            </div>
        </form>
    </div>
</body>
</html>
