
@{
    ViewBag.Title = "InfoShop";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Hồ Sơ Shop</h1>
        <p class="mb-4">
            Xem tình trạng Shop và cập nhật hồ sơ Shop của bạn
        </p>
        <div class="right">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">
                        Tên Shop:<label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Shop's name">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mô tả Shop</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Nhập mô tả hoặc thông tin về Shop của bạn tại đây."></textarea>
                </div>
            </form>
        </div>
        <div class="left">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Tên Shop:<label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Shop's name">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mô tả Shop</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Nhập mô tả hoặc thông tin về Shop của bạn tại đây."></textarea>
                </div>
            </form>
        </div>
    </div>